@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

html {
    scroll-behavior: smooth;
    user-select: none;
    background-color: gray;
    font-family: 'Quicksand', sans-serif;
    margin: 0px;
}

#noJS {
    width: 100%;
    top: 50%;
    left: 50%;
    position: absolute;
    text-align: center;
    transform: translate(-50%, -50%);
}

#background {
    width: 105%;
    size: 150%;
    position: fixed;
    display: flex;
    z-index: -1;
    filter: blur(10px);
    margin: -5%;
    opacity: 40%;
}

#container {
    display: none;
    width: 90%;
    margin-left: 20px;
}

#text {
    margin-top: 10px;
    width: 75%;
    text-align: justify;
}

#textDesc a {
    color: black;
    text-decoration: none;
    background-color: rgba(0, 0, 5, 0.144);
    border-radius: 5px;
    transition: 0.5s;
}

#textDesc a:hover {
    color: #ab8744;
}

#textDesc footer {
    bottom: 0%;
    left: 0%;
    position: absolute;
    font-size: smaller;
}

#textDesc #btn {
    background-color: #ab8744;
    padding: 10px;
    border: 3px solid rgb(0, 0, 5);
    color: rgb(0, 0, 5);
    transition: 0.5s;
}

#textDesc #btn:hover {
    background-color: rgb(135, 135, 228);
}

#textDesc #kezdH2 {
    margin-top: 10%;
}

#textDesc p {
    line-height: 50%;
}

#textDesc ul li {
    line-height: 180%;
}

#lolfelirat {
    width: 30%;
    float: right;
    display: flex;
    position: fixed;
    right: 5px;
    top: 5px;
}

#yasuoldal {
    float: right;
    display: flex;
    position: fixed;
    right: 0px;
    bottom: 0px;
    transform: scaleX(-1);
}

div nav ul {
    display: flex;
    gap: 5%;
    width: 100%;
    margin-left: -3%;
}

div nav ul li {
    list-style-type: none;
    transition: 0.5s;
}

div nav ul li a {
    color: black;
    font-size: larger;
    background-color: rgba(0, 0, 5, 0.144);
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.5s;
}

div nav ul li:hover {
    transform: scale(1.2);
}

p {
    font-size: larger;
}

#scroll {
    position: fixed;
    display: none;
    bottom: 5px;
    right: 5px;
    width: 3%;
    transition: 0.5s;
    border-radius: 100%;
}

#scroll:hover {
    transform: scale(1.1);
    background-color: #ab8744;
}